/* Global styles starts */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  --Primary-font: "Poppins", sans-serif;
  --Secondary-font: "Manrope", sans-serif;
  --Primary-color: #182327;
  --Secondary-color: #5d696d;
  font-size: 10px;
}
body {
  font-family: var(--Primary-font);
}
img {
  max-width: 100%;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
p{
font-family: var(--Secondary-font);
font-size: 1.8rem;
font-weight: 400;
line-height: 3.0rem;
color: var(--Secondary-color);
}
h2{
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 4.6rem;
  color: var(--Primary-color);
}
h3{
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--Primary-color);
}
h4{
  font-family: var(--Secondary-font);
  color: var(--Primary-color);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.6rem;
}
/* Global styles Ends */

/* Header styles Starts */
.Header-Section {
  padding: 30px 0;
  margin: auto;
}
.header-container,
.header-left,
.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.menu{
  display: none;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 42px;
}
nav a {
  font-family: var(--Secondary-font);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: var(--Secondary-color);
}
nav a{
  transition: all 1s ease;
}
nav a:hover{
  color:rgb(207, 11, 44);;
  font-size:1.8rem ;
  font-weight: 600;
}
.search {
  display: flex;
  width: 330px;
  gap: 10px;
  border: 1px solid #d8e0e2;
  border-radius: 8px;
  padding: 14px;
}
.search input {
  border: none;
  width: 100%;
}
.search input::placeholder {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  font-weight: 400;
  color: #5d696d;
  line-height: 2.8rem;
}
.logo img {
  margin-top: 14px;
  margin-right: 15px;
}
.logo-2 img {
  background-color: var(--Primary-color);
  border-radius: 100%;
  padding: 15px;
  transition: all 1s ease;
}
.logo-2 img:hover{
  background-color: #02421f;
  color: rgb(207, 11, 44);
  transform: scale(1.1);

}
.btn-primary {
  padding: 12px 24px;
  background-color: var(--Primary-color);
  font-family: var(--Secondary-font);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.8rem;
  color: #ffffff;
  border-radius: 8px;
  display: inline-block;
  transition: all 1s ease;
}
.btn-primary:hover{
  background-color: #02421f;
  color: rgb(207, 11, 44);
  transform: scale(1.1);
}
/* Header styles Ends */

/* Hero-Section Starts */
.hero-section {
  background-image: url(images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-container > * {
  flex-basis: 100%;
}

.hero-left h1 {
  font-family: var(--Primary-font);
  font-size: 7rem;
  font-weight: 700;
  line-height: 7.6rem;
  position: relative;
}
.hero-left h1::after {
  content: "";
  background-image: url(images/chips.png);
  background-repeat: no-repeat;
  width: 73px;
  height: 54px;
  position: absolute;
  bottom: 0;
  right: 265px;
}

.hero-left p {
  font-family: var(--Secondary-font);
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.2rem;
  margin: 22px 0;
  color: var(--Primary-color);
}
.hero-left .btn-primary {
  margin-top: 20px;
}

.hero-right img {
  transform: translateX(115px) translateY(22px);
  width: 500px;
}

/* Hero-Section Ends */

/* Tasty-Section Starts */
.testy-section {
  padding: 150px 30px;
}
.testy-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 165px;
}
.testy-left{
  width: 570px;
}
.testy-right{
  width: 470px;
}
.testy-left h2 {
  margin-bottom: 70px;
}
.testy-right h4{
  padding: 10px 0;
}
.testy-right {
  transform:translateY(130px);
  position: relative;
}
.testy-right:before {
  content: "";
  background-image: url(images/before.png);
  background-repeat: no-repeat;
  background-size:50%;
  position: absolute;
  height: 145px;
  width: 333px;
  top: -205px;
  right: -80px;
}
.paragraph {
  padding-right: 60px;
  margin-bottom: 30px;
}
.testy-right img {
  padding: 12px 0;
}
.see-more {
  font-family: var(--Secondary-font);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--Primary-color);
  transition: all 1s ease;
}
.see-more:hover{
  color: rgb(207, 11, 44);
  transform: scale(1.1);

}

.btn {
  display: flex;
  align-items: center;
  gap: 28px;
}

/* Tasty-Section Ends */

/* Product-Section Starts */
.text-area {
  text-align: center;
}
.text-area h2 {
  margin-bottom: 18px;
}
.grid-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, 370px);
  column-gap: 30px;
  row-gap: 60px;
  margin-top: 70px;
  margin-bottom: 55px;
}
.grid-area p {
  font-family: var(--Secondary-font);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.8rem;
  color: var(--Secondary-color);
}
.product {
  position: relative;
}
.cart {
  content: "";
  position: absolute;
  bottom: 75px;
  left: 277px;
  width: 70px;
}
.image {
  background-image: url(images/p1bg.png);
  background-size: cover;
  background-position: center;
  width: 370px;
  height: 330px;
  text-align: center;
  border-radius: 12px;
}
.image img {
  margin-top: -18%;
}
.product h4{
  padding-top: 20px;
}
.product p{
  padding: 8px 0;
}
.button{
  width: 152px;
height: 60px;
  margin: 0 auto;
}

/* Product-Section Ends */

/* Popular-Section Starts */
.popular-section{
  margin-top: 150px;
  margin-bottom: 202px;
}

.popular-container{
  display: flex;
  gap: 30px;
}
.popular-container h3{
  margin-top: 20px;
  margin-bottom: 10px;
}
.popular-image{
  margin-top: 65px;
}
.play-button{
  display: flex;
  gap: 10px;
  align-items: center;
}
.play-button img{
  width: 20px;
  height: 20px;
  margin-top: 8px;
}
/* Popular-Section Ends */


/* Review-Sesction Starts */
.review-section{
  background-color: #80E2FF;
  padding: 100px 0;
  margin: auto;
}
.review-section h2{
  width: 570px;
}
.review-section p{
  width: 570px;
  font-family: "Inter", sans-serif;
  font-size: 2.2rem;
  font-style: italic;
  font-weight: 500;
  line-height: 3.6rem;
  color: var(--Primary-color);
}
.review-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 130px;
}
.review-container>*{
  flex-basis: 100%;
}
.review-left{
  transform: translateX(-95px);
}
.review-left h6{
  font-family: var(--Secondary-font);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: var(--Primary-color);
  margin-top: 5px;
}
.after{
  position: relative;
  margin: 75px 0;
}
.after::after{
  content: "";
  position: absolute;
  height: 2px;
  border-radius: 1px;
  bottom: -48px;
  left: 0;
  width:100%;
  background-color: #33D1FF;
}
/* Review-Sesction Ends */

/* Store-Sesction Starts */
.store-section{
  background-image: url(images/storebg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #FFD36A;
  padding: 100px 0;
  margin: auto;
  text-align: center;
}
.store-section h2{
  width: 470px;
  margin: auto;
}
.store-section p{
  padding-top: 18px;
  padding-bottom: 38px;
  width: 470px;
  margin: auto;
}
/* Store-Section Ends */

/* Footer-Sesction Starts */
.footer-section{
  background-color:#FFF7E3 ;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 64px;
}
.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-nav{
  margin: 15px 0;
}
.footer-left h5{
  font-family: var(--Secondary-font);
  font-size: 2.0rem;
  font-weight: 700;
  line-height: 3.0rem;
  color: var(--Primary-color);
}
.footer-left p{
  font-family: var(--Secondary-font);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: #182327;
}
.icon{
  margin-top: 10px;
  margin-bottom: 24px;
  display: flex;
  gap: 14px;
}
/* Footer-Sesction Ends */
